<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAOGIpKtkJREqN5pEfhTYPSM5IwfofLueE</string>
	<key>GCM_SENDER_ID</key>
	<string>798522591923</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kisanseva</string>
	<key>PROJECT_ID</key>
	<string>gold-courage-404816</string>
	<key>STORAGE_BUCKET</key>
	<string>gold-courage-404816.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:798522591923:ios:0670d8056583621a647ec6</string>
</dict>
</plist>